.bgblue{
    background-color:#00ba94 ;
    /* height: 100vh; */
}
.margintop{
    padding: 150px;
}

.navvbtn:hover{
    background-color:#00ba94;
    border-radius: 2px 6px 2px 6px;
}
.bttn{
    background-color: transparent;
    border: 1px solid white;
}
.bttn:hover{
    background-color: white;
    color: black !important;
}
.mtclass{
    padding-top: 160px !important;
}
.border1{
    border-bottom: 10px solid white;
}
.borderrad{
    border-radius: 10px !important;
}
.b-bottom{
    border: none ;
    border-bottom: 2px solid gray;
}
.bgprimary{
    background-color: rgb(44, 62, 80 );

}
.bgdark{
    background-color: rgb(17, 33, 49);
}
